* {
    margin: 0;
    padding: 0;  
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.startPage {
    width: 100%;
    z-index: 999;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    /* border: 1px solid #ffffff; */
}

.startBtn {
    background-image: url('./img/startGame4.png');
    height: 80px;
    width: 200px;
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* border: 1px solid #ffffff; */
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url('./img/bg2.png');
    background-size: 100% 100%;
    /* position: relative; */
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.left-side {
    width: 24%;
    position: absolute;
    /* height: 1000px; */
    height: 100%;
    /* border:5px solid #ffffff; */
}

.left-side img {
    display: none;
    margin-left: 50px;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
}

.main {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 600px;
    /* border: 1px solid #ffffff; */
    text-align: center;
}

.header {
    width: 100%;
    height: 100px;
    text-align: center;
    /* border: 1px solid #ffffff; */
}

.score {
    line-height: 100px;
    color: #ddd;
    font-weight: bolder;
    font-size: 20px;
}

.content {
    position: absolute;
    width: 900px;
    height: 460px;
    margin: auto;
    /* background-color: #333333; */
    text-align: center;
    display: none;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    
}
.home{
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.loser {
    display: none;
    position: 100%;
    height: 1000px;
    top: 0;
    left: 0;
}

.loser .con {
    /* background-image: url('img/startP.jpg'); */
    background-image: url('img/shit.png');
    background-size: 100% 100%;
    height: 300px;
    width: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 20px;
}

.loserScore {
    display: block;
    width: 140px;
    height: 30px;
    position: absolute;
    top: 40%;
    left: 36%;
    color: #ddd;
    font-size: 16px;
    font-weight: bolder;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-image: url('img/closeBtn.png');
    background-size: 100% 100%;
    cursor: pointer;
}

.newShit {
    background-image: url(./img/shit.png);
    background-size: 100% 100%;
}

.exBF {
    background-image: url(./img/cat.jpeg);
    background-size:100% 100%;
}

.shit {
    background-image: url(./img/shit.png);
    background-size: 100% 100%;
}

.story{
    display: inline-block;
    position: relative;
    color: #ddd;
    top: 10px;
    background-color: #222;
}
.tip{
    width:500px;  
    height:40px;  
    text-align: center;
    line-height: 40px;
    left:50%;  
    margin:0 0 0 -250px ;
    position: fixed;
    color: #ddd;
    bottom: 30px;
    background-color: #222;
}